<footer class="footer">
	<div class="container">
		<div class="footer-box">
			<div class="footer-row">
				<div class="footer-logo"><img src="../../comn/img/layout/logo-blue.svg" alt="그냥이차"></div>
				<address class="footer-addr">
					<div class="addr-btn ui-addr-btn">그냥이차 사업자정보<img src="../../comn/img/layout/icon-down.svg" alt=""></div>
					<div class="addr-box ui-addr-box">
						<p class="info"><span>(주) 그냥이차오토</span><span>서울특별시 강남구 테헤란로 1234</span></p>
						<p class="info"><span>사업자 등록번호 : 123-45-67890</span></p>
						<p class="info"><span>통신판매신고 : 1234-456-789</span></p>
					</div>
				</address>
				<div class="footer-copy">COPYRIGHT ©2026그냥이차. ALL RIGHT RESERVED.</div>
			</div>
			<div class="footer-row">
				<div class="footer-lnk">
					<a href="#lnk" class="lnk" onclick="frontJS.modal('policy-terms').show();">이용약관</a>
					<a href="#lnk" class="lnk color-primary" onclick="frontJS.modal('policy-privacy').show();">개인정보취급방침</a>
					<a href="#lnk" class="lnk">사업자정보</a>
				</div>
				<div class="footer-contact">
					<a href="tel:02-1234-5678" class="call"><img src="../../comn/img/layout/icon-call.svg" alt="전화걸기">02-1234-5678</a>
				<p class="info">평일 09:00 - 18:00</p>
				<p class="info">info@ngfde.com</p>
				</div>
				<div class="footer-sns">
					<a href="#lnk" class="lnk"><img src="../../comn/img/layout/sns-instagram.svg" alt="인스타그램"></a>
					<a href="#lnk" class="lnk"><img src="../../comn/img/layout/sns-naver.svg" alt="네이버"></a>
					<a href="#lnk" class="lnk"><img src="../../comn/img/layout/sns-youtube.svg" alt="유튜브"></a>
					<a href="#lnk" class="lnk"><img src="../../comn/img/layout/sns-kakao.svg" alt="카카오톡"></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="quick-menu">
	<div class="quick-list">
		<!-- ## 퀵메뉴 메인/서브 노출 제어 클래스 ##
		 - 메인만 노출: main
		 - 서브만 노출: sub
		-->
		<a href="#" class="quick-btn sub">
			<div class="img"><img src="../../comn/img/layout/quick-icon06.svg" alt=""></div>
			<span class="quick-label">HOME</span>
		</a>
		<button type="button" class="quick-btn" onclick="frontJS.modal('consult').show();">
			<div class="img"><img src="../../comn/img/layout/quick-icon01.svg" alt=""></div>
			<span class="quick-label">간편상담</span>
		</button>
		<a href="#" class="quick-btn main">
			<div class="img"><img src="../../comn/img/layout/quick-icon02.svg" alt=""></div>
			<span class="quick-label">나의차고</span>
		</a>
		<a href="#" class="quick-btn">
			<div class="img"><img src="../../comn/img/layout/quick-icon03.svg" alt=""></div>
			<span class="quick-label">내차찾기</span>
		</a>
		<a href="#" class="quick-btn">
			<div class="img"><img src="../../comn/img/layout/quick-icon04.svg" alt=""></div>
			<span class="quick-label">즉시출고</span>
		</a>
		<a href="#" class="quick-btn">
			<div class="img"><img src="../../comn/img/layout/quick-icon05.svg" alt=""></div>
			<span class="quick-label">마이페이지</span>
		</a>
	</div>
	<button type="button" class="top-btn" title="상단으로 이동" onclick="layout.top();"><img src="../../comn/img/layout/quick-icon-top.svg" alt=""></button>
</div>

<!-- ## 팝업 :: 이용약관 s ## -->
<dialog class="modal modal-size-lg modal-policy" data-modal="policy-terms">
	<div class="modal-wrap">
		<div class="modal-box">
			<div class="modal-body">
				<div class="policy-docu">
					<div class="policy-title">이용약관</div>
					<ul class="policy-list disc">
						<li>제1조 (목적)
							<p class="policy-txt">이 약관은 주식회사 그냥이차에서 운영하는 웹사이트 제공하는 인터넷 관련 서비스 및 기타 부대서비스를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 한다.</p>
						</li>
						<li>제2조 (정의)
							<p class="policy-txt">이 약관은 주식회사 그냥이차에서 운영하는 웹사이트 제공하는 인터넷 관련 서비스 및 기타 부대서비스를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 한다.</p>
						</li>
						<li>제2조 (정의)
							<p class="policy-txt">이 약관은 주식회사 그냥이차에서 운영하는 웹사이트 제공하는 인터넷 관련 서비스 및 기타 부대서비스를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 한다.</p>
						</li>
						<li>제2조 (정의)
							<p class="policy-txt">이 약관은 주식회사 그냥이차에서 운영하는 웹사이트 제공하는 인터넷 관련 서비스 및 기타 부대서비스를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 한다.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<button type="button" class="modal-close" title="팝업 닫기" onclick="frontJS.modal('policy-terms').hide();"></button>
</dialog>
<!-- ## 팝업 :: 이용약관 e ## -->

<!-- ## 팝업 :: 개인정보취급방침 s ## -->
<dialog class="modal modal-size-lg modal-policy" data-modal="policy-privacy">
	<div class="modal-wrap">
		<div class="modal-box">
			<div class="modal-body">
				<div class="policy-docu">
					<div class="policy-title">개인정보취급방침</div>
					<ul class="policy-list disc">
						<li>제1조 (목적)
							<p class="policy-txt">이 약관은 주식회사 그냥이차에서 운영하는 웹사이트 제공하는 인터넷 관련 서비스 및 기타 부대서비스를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 한다.</p>
						</li>
						<li>제2조 (정의)
							<p class="policy-txt">이 약관은 주식회사 그냥이차에서 운영하는 웹사이트 제공하는 인터넷 관련 서비스 및 기타 부대서비스를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 한다.</p>
						</li>
						<li>제2조 (정의)
							<p class="policy-txt">이 약관은 주식회사 그냥이차에서 운영하는 웹사이트 제공하는 인터넷 관련 서비스 및 기타 부대서비스를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 한다.</p>
						</li>
						<li>제2조 (정의)
							<p class="policy-txt">이 약관은 주식회사 그냥이차에서 운영하는 웹사이트 제공하는 인터넷 관련 서비스 및 기타 부대서비스를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 한다.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<button type="button" class="modal-close" title="팝업 닫기" onclick="frontJS.modal('policy-privacy').hide();"></button>
</dialog>
<!-- ## 팝업 :: 개인정보취급방침 e ## -->

<!-- ## 팝업 :: 간편상담 s ## -->
<dialog class="modal modal-sheet modal-size-sm modal-consult" data-modal="consult">
	<div class="modal-wrap">
		<div class="modal-box">
			<div class="modal-header">
				<h4 class="modal-title">간편상담신청</h4>
			</div>
			<div class="modal-body">
				<form action="">
					<ul class="form consult-form">
						<li class="form-row">
							<label for="name" class="form-title form-required">성함</label>
							<div class="form-item">
								<input type="text" id="name" name="name" class="form-input" placeholder="이름을 입력해주세요" required>
							</div>
						</li>
						<li class="form-row">
							<label for="phone" class="form-title form-required">연락처</label>
							<div class="form-item">
								<input type="text" id="phone" name="phone" class="form-input" placeholder="연락처를 입력해주세요" required>
							</div>
						</li>
						<li class="form-row">
							<label for="model" class="form-title form-required">모델명</label>
							<div class="form-item">
								<input type="text" id="model" name="model" class="form-input" placeholder="관심차종을 입력해주세요" required>
							</div>
						</li>
						<li class="form-row">
							<div class="form-item">
								<div class="agree-box">
									<div class="agree-header">
										<div class="checkbox">
											<label class="checkbox-label">
												<input type="checkbox" name="check" class="checkbox-input">
												<span class="checkbox-check"></span>
												<span class="checkbox-text">전체동의</span>
											</label>
										</div>
									</div>
								</div>
								<div class="agree-box">
									<div class="agree-header">
										<div class="checkbox">
											<label class="checkbox-label">
												<input type="checkbox" name="check" class="checkbox-input">
												<span class="checkbox-check"></span>
												<span class="checkbox-text">[필수] 개인정보취급방침</span>
											</label>
										</div>
										<button type="button" class="button button-size-sm" onclick="frontJS.modal('policy-privacy').show();">자세히보기</button>
									</div>
								</div>
								<div class="agree-box">
									<div class="agree-header">
										<div class="checkbox">
											<label class="checkbox-label">
												<input type="checkbox" name="check" class="checkbox-input">
												<span class="checkbox-check"></span>
												<span class="checkbox-text">[필수] 이용약관</span>
											</label>
										</div>
										<button type="button" class="button button-size-sm" onclick="frontJS.modal('policy-terms').show();">자세히보기</button>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="button button-color-primary">신청하기</button>
			</div>
		</div>
	</div>
	<button type="button" class="modal-close" title="팝업 닫기" onclick="frontJS.modal('consult').hide();"></button>
</dialog>
<!-- ## 팝업 :: 간편상담 e ## -->

<script>
	layout.addr();
	layout.quick();
</script>