<header class="header">
	<div class="container">
		<div class="header-box">
			<h1 class="header-logo"><a href="#lnk"><img src="../../comn/img/layout/logo-blue.svg" alt="그냥이차"></a></h1>
			<nav class="gnb ui-gnb">
				<div class="mob-logo">
					<img src="../../comn/img/layout/logo-blue.svg" alt="그냥이차">
					<button type="button" class="gnb-close ui-gnb-close" title="메뉴닫기"><img src="../../comn/img/layout/icon-close.svg" alt=""></button>
				</div>
				<ul class="gnb-list">
					<li class="gnb-item ui-gnb-item"><a href="#lnk" class="gnb-lnk">내차찾기</a></li>
					<li class="gnb-item ui-gnb-item"><a href="#lnk" class="gnb-lnk">스마트견적</a></li>
					<li class="gnb-item ui-gnb-item"><a href="#lnk" class="gnb-lnk">즉시출고</a></li>
					<li class="gnb-item ui-gnb-item">
						<a href="#lnk" class="gnb-lnk">SMART GUIDE</a>
						<ul class="gnb-menu">
							<li><a href="#lnk">공지사항</a></li>
							<li><a href="#lnk">Q&A</a></li>
							<li><a href="#lnk">카라이프 매거진</a></li>
						</ul>
					</li>
				</ul>
				<div class="mob-util">
					<!-- ## 로그아웃 ## -->
					<!-- <a href="#lnk" class="lnk member"><img src="../../comn/img/layout/icon-logout.svg" alt="">로그아웃</a> -->
					<a href="#lnk" class="lnk member"><img src="../../comn/img/layout/icon-login.svg" alt="">로그인</a>
					<button type="button" class="lnk chatbot"><img src="../../comn/img/layout/icon-chatbot.svg" alt="챗봇"></button>
				</div>
			</nav>
			<div class="header-util">
				<!-- ## 로그아웃 ## -->
				<!-- <a href="#lnk" class="lnk member"><img src="../../comn/img/layout/icon-logout.svg" alt="">로그아웃</a> -->
				<a href="#lnk" class="lnk member"><img src="../../comn/img/layout/icon-login.svg" alt="">로그인</a>
				<button type="button" class="lnk chatbot"><img src="../../comn/img/layout/icon-chatbot.svg" alt="챗봇"></button>
				<button type="button" class="lnk search ui-search"><img src="../../comn/img/layout/icon-search.svg" alt="검색"></button>
			</div>
			<button type="button" class="gnb-open ui-gnb-open" title="메뉴열기"><img src="../../comn/img/layout/icon-open.svg" alt=""></button>
		</div>
	</div>
	<!-- ## 검색 박스 s ## -->
	<div class="header-search ui-header-search">
		<div class="container">
			<div class="search-box">
				<input type="text" class="form-input" placeholder="원하시는 차종이나 차량을 입력하세요">
				<button type="submit" class="search-btn"><img src="../../comn/img/layout/icon-search.svg" alt="검색"></button>
			</div>
		</div>
	</div>
	<!-- ## 검색 박스 s ## -->
</header>

<script>
	layout.gnb();
	layout.search();
</script>