@charset "utf-8";

/*
	** CONTENTS CSS
*/


/* ## swiper control ## */
:is(.swiper-button-next, .swiper-button-prev, .swiper-button-play, .swiper-button-pause) {
	--swiper-icon-size: 20px !important;
	width: var(--swiper-icon-size);
	height: var(--swiper-icon-size);
	cursor: pointer;
}
:is(.swiper-button-play, .swiper-button-pause) { display: none; }
:is(.swiper-button-play, .swiper-button-pause).active { display: inline-flex; }
.swiper-button-next::after, 
.swiper-button-prev::after, 
.swiper-button-play::after, 
.swiper-button-pause::after {
	display: block;
	content:"";
	width: 100%;
	height: 100%;
	background: #000;
	-webkit-mask: url("../img/contents/icon-right.svg") no-repeat center / contain;
	mask: url("../img/contents/icon-right.svg") no-repeat center / contain;
}
.swiper-button-next::after { mask-image: url("../img/contents/icon-right.svg"); }
.swiper-button-prev::after { mask-image: url("../img/contents/icon-left.svg"); }
.swiper-button-play::after { mask-image: url("../img/contents/icon-play.svg"); }
.swiper-button-pause::after { mask-image: url("../img/contents/icon-pause.svg"); }

.tag-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
}
.tag-box .tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	height: 26px;
	line-height: 26px;
	padding: 0 14px;
	border-radius: 99px;
	background: #000;
	color: #fff;
	font-size: var(--font-size-14);
	font-weight: 300;
}
@media all and (max-width: 767px) {
	.tag-box .tag {
		font-size: var(--font-size-12);
		padding: 0 12px;
	}
}

.video-box {
	position: relative;
	overflow: hidden;
	border-radius: 13px;
	padding-bottom: 56.25%;
	height: 0;
}
.video-box > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.icon-custom {
    --icon-size: 32px;
    --icon-color: #000;

    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    border: 1px solid var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.icon-custom::before {
    display: block;
    content: "";
    width: calc(var(--icon-size) * 0.75);
    height: calc(var(--icon-size) * 0.75);
    background: var(--icon-color);
    -webkit-mask: var(--icon-url) no-repeat center / contain;
    mask: var(--icon-url) no-repeat center / contain;
    transition: var(--transition);
}
.icon-custom.icon-next { --icon-url: url("../img/contents/icon-right.svg"); }
.icon-custom.icon-prev { --icon-url: url("../img/contents/icon-left.svg"); }
.icon-custom.icon-close { --icon-url: url("../img/contents/icon-close.svg"); }
.icon-custom.icon-search { --icon-url: url("../img/contents/icon-search.svg"); }
@media all and (max-width: 767px) {
    .icon-custom {
		--icon-size: 26px;
	}
}


/* ## loader ## */
.loader-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.6);
}
.loader-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	max-width: 150px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.loader-circle {
	display: flex;
	align-items: center;
	gap: 0 30px;
}
.loader-circle .circle {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: transparent linear-gradient(135deg, var(--secondary-color) 0%, var(--primary-color) 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
	animation: pulse 1.4s ease-in-out infinite;
}
.loader-circle .circle:nth-child(2) { animation-delay: 0.2s; }
.loader-circle .circle:nth-child(3) { animation-delay: 0.4s; }
.loader-circle .circle:nth-child(4) { animation-delay: 0.6s; }
@keyframes pulse {
	0%   { transform: scale(0.8); opacity: 0.7; }
	50%  { transform: scale(1);   opacity: 1;   }
	100% { transform: scale(0.8); opacity: 0.7; }
}
.loader-bar {
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 30px;
	background: #fff;
	position: relative;
}
.loader-bar::before {
	content: "";
	position: absolute;
	background: var(--primary-color);
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	border-radius: 30px;
	animation: moving 1.4s ease-in-out infinite;
}
@keyframes moving {
	50%  { width: 100%; }
	100% { width: 0; right: 0; left: unset; }
}




/* 랭킹 슬라이드 */
.ranking-box {
	display: flex;
	align-items: center;
	padding: 60px 0;
	padding-left: calc((100% - 1640px) / 2);
}
.ranking-title {
	padding: 0 70px;
}
.ranking-title h2 {
	font-size: 2.5rem;
	color: #fff;
}
.ranking-title .swiper-control {
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 4px;
}
.ranking-title .swiper-button-prev,
.ranking-title .swiper-button-next {
	position: unset;
	margin-top: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #fff;
	transition: var(--transition);
}
.ranking-title .swiper-button-prev:hover,
.ranking-title .swiper-button-next:hover {
	background: #fff;
}
.ranking-title .swiper-button-prev::after,
.ranking-title .swiper-button-next::after {
	background: #fff;
	width: 26px;
	height: 26px;
	transition: var(--transition);
}
.ranking-title .swiper-button-prev:hover::after,
.ranking-title .swiper-button-next:hover::after {
	background: #000;
}
.ranking-slide {
	flex: 1;
	display: flex;
	position: relative;
	overflow: hidden;
}
.ranking-slide .swiper {
	margin: 0;
}
.ranking-slide .swiper-slide {
	display: flex;
	height: 240px;
	border-radius: 20px;
	overflow: hidden;
}
.ranking-slide .number-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90px;
	color: #fff;
	background: #3B3A3D;
}
.ranking-slide .number-box .text {
	font-size: var(--font-size-14);
}
.ranking-slide .number-box .number {
	font-size: 2.75rem;
	font-weight: 800;
}
.ranking-slide .text-box {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
	height: 100%;
	padding: 35px 40px;
	background: #555457;
}
.ranking-slide .text-box .title {
	font-size: var(--font-size-20);
	font-weight: 600;
	color: #fff;
}
.ranking-slide .text-box .tag-box,
.ranking-slide .text-box .price {
	display: none;
}
.ranking-slide .img-box {
	height: 100%;
}
.ranking-slide .img-box img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.ranking-slide-active {
	width: 60%;
	position: relative;
	z-index: 2;
}
.ranking-slide-active .swiper-slide {
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out;
}
.ranking-slide-active .swiper-slide-active {
	opacity: 1;
	visibility: visible;
}
.ranking-slide-active .number-box {
	width: 110px;
	background: var(--primary-color);
}
.ranking-slide-active .number-box .number {
	font-size: 3.25rem;
}
.ranking-slide-active .text-box {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 30px 50px;
	background: #fff;
}
.ranking-slide-active .text-box .title {
	margin-bottom: 10px;
	font-size: var(--font-size-28);
	font-weight: 700;
	color: #000;
}
.ranking-slide-active .text-box .tag-box,
.ranking-slide-active .text-box .price {
	display: flex;
}
.ranking-slide-active .text-box .price {
	margin-top: 20px;
	font-size: var(--font-size-28);
	color: var(--primary-color);
	font-weight: 700;
}
.ranking-slide-active .img-box {
	max-width: 300px;
}
.ranking-slide-thumbs {
	width: calc((31.5% * 2) + 36px);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
.ranking-slide-thumbs .swiper-slide {
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out;
}
.ranking-slide-thumbs .swiper-slide-next,
.ranking-slide-thumbs .swiper-slide-next ~ .swiper-slide {
	opacity: 1;
	visibility: visible;
}
@media all and (max-width: 1439px) {
	.ranking-box {
		padding: 40px 0;
	}
	.ranking-title {
		padding: 0 40px;
	}
	.ranking-title h2 {
		font-size: 2.25rem;
	}
	.ranking-slide .swiper-slide {
		height: 200px;
	}
	.ranking-slide .number-box .number {
		font-size: 2.25rem;
	}
	.ranking-slide .text-box {
		display: flex;
		flex-direction: column;
		gap: 24px;
		width: 100%;
		height: 100%;
		padding: 25px 25px;
	}
	.ranking-slide .text-box .title {
		font-size: var(--font-size-18);
		font-weight: 600;
	}
	.ranking-slide-active .number-box {
		width: 90px;
	}
	.ranking-slide-active .number-box .number {
		font-size: 2.75rem;
	}
	.ranking-slide-active .text-box {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 20px 30px;
	}
	.ranking-slide-active .text-box .title {
		font-size: var(--font-size-24);
	}
	.ranking-slide-active .text-box .tag-box {
		display: none;
	}
	.ranking-slide-active .text-box .price {
		margin-top: 20px;
		font-size: var(--font-size-24);
	}
	.ranking-slide-active .img-box {
		max-width: 150px;
	}
}
@media all and (max-width: 1023px) {
	.ranking-box {
		padding: 40px 20px;
	}
	.ranking-title {
		padding: 0 20px;
	}
	.ranking-title h2 {
		font-size: 2rem;
	}
	.ranking-slide .swiper-slide {
		height: 200px;
	}
	.ranking-slide-active {
		width: 100%;
	}
	.ranking-slide-thumbs {
		display: none;
	}
}
@media all and (max-width: 767px) {
	.ranking-box {
		display: block;
		padding: 20px 15px;
		background: url(../img/layout/sub-bg-img.jpg) no-repeat center top 30% / cover;
	}
	.ranking-title {
		padding: 0;
		margin-bottom: 13px;
	}
	.ranking-title h2 {
		font-size: var(--font-size-20);
		font-weight: 800;
	}
	.ranking-title h2 br {
		display: none;
	}
	.ranking-title .swiper-control {
		display: none;
	}
	.ranking-slide .swiper-slide {
		height: auto;
		border-radius: 5px;
	}
	.ranking-slide-active {
		width: 100%;
	}
	.ranking-slide-active .swiper-slide {
		opacity: 1;
		visibility: visible;
	}
	.ranking-slide-active .number-box {
		width: 20px;
		height: 20px;
		color: #fff;
		background: #000;
		border-radius: 4px;
		position: absolute;
		top: 6px;
		left: 6px;
	}
	.ranking-slide-active .number-box .text {
		display: none;
	}
	.ranking-slide-active .number-box .number {
		font-size: var(--font-size-14);
	}
	.ranking-slide-active .text-box {
		flex-direction: column-reverse;
		justify-content: center;
		gap: 5px;
		padding: 18px 6px 8px;
	}
	.ranking-slide-active .text-box .title {
		margin-bottom: 5px;
		font-size: var(--font-size-13);
	}
	.ranking-slide-active .text-box .price {
		margin-top: 0;
		font-size: var(--font-size-12);
		color: #999999;
		font-weight: 400;
	}
	.ranking-slide-active .img-box {
		max-width: 80%;
	}
}



/* 필터 */
.rent-filter {
	display: flex;
	border-bottom: 1px solid #D9D9D9;
}
.rent-filter-btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	border-radius: 0;
	background: #fff;
	color: #555555;
}
.rent-filter-btn:not(:last-child) {
	border-right: 1px solid #D9D9D9;
}
.rent-filter-btn::after {
	content: "\f107";
	font-family: "Font Awesome 7 Free";
	font-size: var(--font-size-14);
	font-weight: 900;
	margin-left: 16px;
}
.rent-filter-btn .icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
@media all and (max-width: 1023px) {
	.rent-filter-btn {
		font-size: var(--font-size-15);
	}
}
@media all and (max-width: 767px) {
	.rent-filter-btn {
		height: 40px;
		font-size: var(--font-size-12);
		color: #999999;
	}
	.rent-filter-btn .icon {
		width: 16px;
		height: 16px;
		margin-right: 5px;
		filter: invert(66%) sepia(3%) saturate(44%) hue-rotate(314deg) brightness(94%) contrast(80%);
	}
}



.rent-grid {
	display: grid;
	align-items: stretch;
	gap: 22px 28px;
	padding: 30px 0 60px 30px;
}
.rent-grid.grid-col2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.rent-grid.grid-col3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.rent-grid .grid-item {
	width: 100%;
	height: 100%;
}
.rent-grid .grid-card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 22px;
	width: 100%;
	height: 100%;
	padding: 25px 20px;
	border-radius: 20px;
	outline: 1px solid #D9D9D9;
	transition: 0.1s ease-in-out;
}
.rent-grid .grid-card:hover {
	outline: 2px solid var(--primary-color);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
}
.rent-grid .grid-card::after {
	content: "\f105";
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
	color: #555555;
	position: absolute;
	top: 50px;
	right: 28px;
}
.rent-grid .text-box {
	padding: 0 8px;
}
.rent-grid .title {
	margin-top: 10px;
	font-size: var(--font-size-20);
	font-weight: 700;
}
.rent-grid .price-box {
	margin-top: 14px;
	font-size: var(--font-size-24);
	color: var(--primary-color);
	font-weight: 700;
}
.rent-grid .unit {
	font-size: 14px;
	color: #999999;
	font-weight: 400;
}
.rent-grid .img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 170px;
	padding: 20px 0;
	margin-top: auto;
	border-radius: 10px;
	background: #F3F3F3;
}
.rent-grid .img-box img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
.rent-empty {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 60px 20px;
	color: #000;
	background: #E9F1FC;
	border-radius: 10px;
}
@media all and (max-width: 1439px) {
	.rent-grid.grid-col3 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media all and (max-width: 1023px) {
	.rent-grid.grid-col2 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.rent-grid.grid-col3 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
@media all and (max-width: 767px) {
	.rent-grid {
		gap: 12px 0;
		padding: 15px 15px 60px 15px;
	}
	.rent-grid .grid-card {
		flex-direction: row;
		justify-content: space-between;
		padding: 13px;
		border-radius: 10px;
	}
	.rent-grid .grid-card::after {
		display: none;
	}
	.rent-grid .text-box {
		flex: 1;
		padding: 0 4px;
	}
	.rent-grid .title {
		margin-top: 15px;
		font-size: var(--font-size-16);
	}
	.rent-grid .price-box {
		margin-top: 0;
		font-size: var(--font-size-20);
	}
	.rent-grid .img-box {
		flex: 0 0 145px;
		height: 100%;
		padding: 10px;
		margin-top: 0;
	}
	.rent-empty {
		padding: 20px;
		font-size: var(--font-size-14);
	}
}