@charset "utf-8";

/*
	** UI 관련 기본 CSS
*/


body.prevent {
	overflow: hidden;
}
::backdrop {
	background:rgba(0,0,0,0.6);
}


/* ## title ## */
.title-lg { font-size: 2.5em; margin-bottom: var(--space-md); }
.title-md { font-size: var(--font-size-30); margin-bottom: var(--space-sm); }
.title-sm { font-size: var(--font-size-24); margin-bottom: var(--space-sm); }
.title-xs { font-size: var(--font-size-18); margin-bottom: var(--space-xs); }
.title-mb-0:is(.title-lg,.title-md,.title-sm,.title-xs) { margin-bottom:0; }
@media all and (max-width: 1023px) {
	.title-lg { font-size: 2.2em; }
	.title-md { font-size: var(--font-size-28); }
	.title-sm { font-size: var(--font-size-22); }
	.title-xs { font-size: var(--font-size-18); }
}
@media all and (max-width: 767px) {
	.title-lg { font-size: var(--font-size-30); }
	.title-md { font-size: var(--font-size-26); }
	.title-sm { font-size: var(--font-size-22); }
}


/* ## tab ## */
.tab-box {
	margin-bottom: var(--space-md);
}
.tab-list {
	display: flex;
	align-items: center;
	gap: 20px;
}
.tab-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 16px;
	width: 100%;
	height: var(--height);
	font-size: var(--font-size);
	line-height: 1;
	color: #888888;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #D9D9D9;
	transition: var(--transition);
}
.tab-btn.active {
	border-color: var(--primary-color);
	color: var(--primary-color);
}
.tab-size-md .tab-btn {
	height: calc(var(--height) * 0.85);
}
.tab-size-sm .tab-list {
	gap: 10px;
}
.tab-size-sm .tab-btn {
	height: calc(var(--height) * 0.65);
	font-size: var(--font-size-14);
}
[data-tab-cont] {
	display: none;
	transition: var(--transition);
}
[data-tab-cont].active {
	display: block;
}
@media all and (max-width: 1023px) {
	.tab-btn {
		height: var(--height);
	}
	.t-tab-scroll .tab-btn {
		white-space: nowrap;
	}
	.t-tab-scroll {
		overflow-x: auto;
		overflow-y: hidden;
	}
}
@media all and (max-width: 767px) {
	.tab-box {
		margin-bottom: var(--space-sm);
	}
	.tab-btn {
		height: var(--height);
	}
	.m-tab-scroll .tab-btn {
		white-space: nowrap;
	}
	.m-tab-scroll {
		overflow-x: auto;
		overflow-y: hidden;
	}
}

.tab-type02 .tab-box {
	margin-bottom: 0;
	background: #E9F1FC;
	border-radius: 99px;
	padding: 7px;
}
.tab-type02 .tab-list {
	gap: 0;
}
.tab-type02 .tab-item {
	flex: 1;
}
.tab-type02 .tab-btn {
	color: #999999;
	border-radius: 99px;
	background: none;
	border: none;
	transition: var(--transition);
}
.tab-type02 .tab-btn.active {
	background: #fff;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	font-weight: 600;
}

.tab-type03 .tab-list {
	gap: 0;
}
.tab-type03 .tab-item {
	flex: 1;
}
.tab-type03 .tab-btn {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #D9D9D9;
	height: calc(var(--height) + 20px);
	font-size: var(--font-size-18);
	font-weight: 600;
}
.tab-type03 .tab-btn.active {
	border-width: 2px;
	border-color: var(--primary-color);
	color: var(--primary-color);
	font-weight: 700;
}
.tab-type03.tab-size-md .tab-btn {
	height: calc(var(--height) * 0.85);
}
.tab-type03.tab-size-sm .tab-btn {
	height: calc(var(--height) * 0.65);
	font-size: var(--font-size-14);
}
@media all and (max-width: 767px) {
	.tab-type03 .tab-btn {
		height: var(--height);
		font-size: var(--font-size-16);
	}
}

.tab-type04 .tab-box {
	text-align: center;
}
.tab-type04 .tab-list {
	gap: 0;
	display: inline-flex;
	justify-content: center;
	border: 1px solid #D9D9D9;
	border-radius: 99px;
	overflow: hidden;
}
.tab-type04 .tab-item {
	flex: 0 0 360px;
}
.tab-type04 .tab-item:not(:last-child) {
	border-right: 1px solid #D9D9D9;
}
.tab-type04 .tab-btn {
	border: none;
	border-radius: 0;
	height: calc(var(--height) + 10px);
	font-size: var(--font-size-18);
	font-weight: 800;
}
.tab-type04 .tab-btn.active {
	color: var(--primary-color);
}
@media all and (max-width: 767px) {
	.tab-type04 .tab-item {
		flex: 0 0 130px;
	}
	.tab-type04 .tab-btn {
		height: var(--height);
		font-size: var(--font-size-16);
	}
}

/* ## table ## */
.table table {
	width: 100%;
	table-layout: fixed;
	border-top: 1px solid var(--primary-color);
	text-align: center;
	border-right: 1px solid #eee;
}
.table tr {
	border-bottom: 1px solid #eee;
}
.table :is(th, td) {
	padding: 15px 20px;
	border-left: 1px solid #eee;
	word-break: break-word;
}
.table .table-title {
	background: #f8f8f8;
}
.table-stripe tbody tr:nth-child(even) {
	background: #f8f8f8;
}
.table-sticky {
	max-height: 200px;
	overflow-y: auto;
}
.table-sticky .table-sticky-row {
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
}
@media all and (max-width: 1023px) {
	.t-table-scroll {
		overflow-x: auto;
	}
	.t-table-scroll table {
		width: 1100px;
	}
}
@media all and (max-width: 767px) {
	.table :is(th, td) {
		padding: 10px;
	}
	.m-table-scroll {
		overflow-x: auto;
	}
	.m-table-scroll table {
		width: 800px;
	}
}


/* ## radio ## */
.radio {
	--radio-size: 18px;
	--radio-border-radius: 100%;
}
.radio {
	display: inline-flex;
	align-items: center;
}
.radio-label {
	display: inline-flex;
	position: relative;
	cursor: pointer;
}
.radio-input,
.radio-check {
	width: var(--radio-size);
	height: var(--radio-size);
	border-radius: var(--radio-border-radius);
	overflow: hidden;
}
.radio-input {
	position: absolute;
	left: 0;
	top: 0;
}
.radio-check {
	position: relative;
	border: 1px solid #ddd;
	flex: 0 0 var(--radio-size);
	transition: var(--transition);
}
.radio-check::before {
	display: block;
	content:"";
	width: calc(var(--radio-size)  / 2);
	height: calc(var(--radio-size) / 2);
	position: absolute;
	left: -50%;
	top:50%;
	transform:translate(-50%, -50%);
	border-radius: var(--radio-border-radius);
	transition: var(--transition);
	background: var(--primary-color);
}
.radio-text {
	margin-left:8px;
	margin-right:20px;
}
.radio-input:checked + .radio-check {
	border-color:var(--primary-color);
}
.radio-input:checked + .radio-check::before {
	left: 50%;
}

.radio.radio-type02 {
	--gap: 10px;
	position: relative;
	display: grid;
	background: #E9F1FC;
	border: 1px solid #C6D7FF;
	border-radius: 99px;
	padding: var(--gap);
	width: 100%;
}
.radio-type02 .slider {
	position: absolute;
	top: var(--gap);
	left: var(--gap);
	height: 48px;
	border-radius: 99px;
	background: #fff;
	border: 1px solid var(--primary-color);
	transition: var(--transition);
	z-index: 1;
}
.radio-type02 label {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	user-select: none;
	color: #999999;
	transition: var(--transition);
	grid-row: 1;
}
.radio-type02 input:nth-of-type(1):checked ~ label:nth-of-type(1),
.radio-type02 input:nth-of-type(2):checked ~ label:nth-of-type(2),
.radio-type02 input:nth-of-type(3):checked ~ label:nth-of-type(3),
.radio-type02 input:nth-of-type(4):checked ~ label:nth-of-type(4) {
	color: var(--primary-color);
	font-weight: 500;
}
/* ## radio-type02 :: count-4 ## */
.radio-type02.count-4 { grid-template-columns: repeat(4, 1fr); }
.radio-type02.count-4 .slider { width: calc((100% - (var(--gap) * 2)) / 4); }
.radio-type02.count-4 input:nth-of-type(1):checked ~ .slider { left: var(--gap); }
.radio-type02.count-4 input:nth-of-type(2):checked ~ .slider { left: calc(25% + (var(--gap) / 2)); }
.radio-type02.count-4 input:nth-of-type(3):checked ~ .slider { left: calc(50%); }
.radio-type02.count-4 input:nth-of-type(4):checked ~ .slider { left: calc(75% - (var(--gap) / 2)); }
/* ## radio-type02 :: count-3 ## */
.radio-type02.count-3 { grid-template-columns: repeat(3, 1fr); }
.radio-type02.count-3 .slider { width: calc((100% - (var(--gap) * 2)) / 3); }
.radio-type02.count-3 input:nth-of-type(1):checked ~ .slider { left: var(--gap); }
.radio-type02.count-3 input:nth-of-type(2):checked ~ .slider { left: calc(33.333% + (var(--gap) / 2)); }
.radio-type02.count-3 input:nth-of-type(3):checked ~ .slider { left: calc(66.666% - (var(--gap) / 2)); }
@media all and (max-width: 767px) {
	.radio.radio-type02 {
		--gap: 7px;
	}
	.radio-type02 .slider {
		height: 40px;
	}
	.radio-type02 label {
		height: 40px;
		line-height: 40px;
	}
}



/* ## checkbox ## */
.checkbox {
	--checkbox-size: 20px;
	--checkbox-border-radius:1px;
}
.checkbox {
	display: inline-flex;
	align-items: center;
}
.checkbox-label {
	display: inline-flex;
	position: relative;
	cursor: pointer;
	line-height: 1.2;
}
.checkbox-input,
.checkbox-check {
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	border-radius: var(--checkbox-border-radius);
	overflow: hidden;
}
.checkbox-input {
	position: absolute;
	left:0;
	top:0;
}
.checkbox-check {
	position: relative;
	border:1px solid #ddd;
	border-radius: 50%;
	flex:0 0 var(--checkbox-size);
	transition: var(--transition);
}
.checkbox-check::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-mask: url("../img/contents/icon-check.svg") no-repeat center / contain;
	mask: url("../img/contents/icon-check.svg") no-repeat center / contain;
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-200%, -50%) rotate(-90deg);
	transition: var(--transition);
}
.checkbox-text {
	margin-left:8px;
	margin-right:20px;
}
.checkbox-input:checked + .checkbox-check {
	border-color:var(--primary-color);
}
.checkbox-input:checked + .checkbox-check::before {
	transform:translate(-50%, -50%);
	background: var(--primary-color);
}
.checkbox-input:disabled + .checkbox-check {
	border-color: #eee;
	background: #eee;
}
@media all and (max-width: 767px) {
	.checkbox {
		--checkbox-size: 18px;
	}
}

.checkbox.checkbox-type02 {
	display: block;
}
.checkbox-type02 .checkbox-label {
	align-items: center;
	width: 100%;
	height: 48px;
	padding: 10px 18px;
	margin-bottom: 13px;
	border-radius: 5px;
	border: 1px solid #D9D9D9;
	color: #999999;
}
.checkbox-type02 .checkbox-text {
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin-right: 0;
}
.checkbox-type02 .checkbox-label:has(.checkbox-input:checked) {
	border-color: var(--primary-color);
}
.checkbox-type02 .checkbox-check {
	border: none;
	border-radius: 0;
}
.checkbox-type02 .checkbox-check::before {
	background: #999999;
	-webkit-mask-image: url("../img/contents/icon-add-circle.svg");
	mask-image: url("../img/contents/icon-add-circle.svg");
	position: unset;
	transform: none;
}
.checkbox-type02 .checkbox-input:checked ~ .checkbox-text {
	color: var(--primary-color) !important;
}
.checkbox-type02 .checkbox-input:checked + .checkbox-check::before {
	-webkit-mask-image: url("../img/contents/icon-option-check.svg");
	mask-image: url("../img/contents/icon-option-check.svg");
	transform: none;
}
@media all and (max-width: 767px) {
	.checkbox-type02 .checkbox-label {
		height: 42px;
		padding: 8px 12px;
		margin-bottom: 8px;
	}
}

.checkbox.checkbox-type03 {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.checkbox-type03 .checkbox-label {
	align-items: center;
	width: 100%;
	padding: 12px 12px 12px 8px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
}
.checkbox-type03 .checkbox-check {
	background: #fff;
}
.checkbox-type03 .checkbox-text {
	padding-left: 10px;
	margin-right: 0;
}
.checkbox-type03 .checkbox-label:has(.checkbox-input:checked) {
	border-color: var(--primary-color);
	background: linear-gradient(to right, var(--primary-color) 36px, #fff 36px);
}



/* ## switch ## */
.switch-label {
	--switch-size: 28px;
	--switch-radius: 25px;
	--switch-deactive-color:#dfdfdf;
}
.switch-label {
	display: inline-flex;
	align-items: center;
	position: relative;
}
input[type="checkbox"].switch-input {
	appearance: none;
	position: relative;
	background: var(--switch-deactive-color);
	border-radius: var(--switch-radius);
	width: calc(var(--switch-size) * 2);
	height: var(--switch-size);
	cursor: pointer;
}
.switch-input::before {
	display: block;
	content: "";
	position: absolute;
	left: 4px;
	top:50%;
	transform: translateY(-50%);
	width: calc(var(--switch-size) - 8px);
	height: calc(var(--switch-size) - 8px);
	border-radius: var(--switch-radius);
	background: #fff;
	transition: var(--transition);
}
input[type="checkbox"].switch-input:checked {
	background: var(--primary-color);
}
.switch-input:checked::before {
	left: calc(100% - calc(var(--switch-size) - 4px));
}
.switch-text {
	margin-left: 10px;
}
@media all and (max-width: 767px) {
	.switch-label {
		--switch-size: 24px;
	}
}


/* ## button ## */
.button {
	--button-height:var(--height);
	--button-padding: 20px;
	--button-font-size:1em;
}
.button-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap:10px;
	margin-top:var(--space-md);
}
.button-wrap.button-wrap-full .button {
	flex: 1 1 auto;
}
.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: var(--button-height);
	padding:0 var(--button-padding);
	border-radius: 8px;
	background:#eee;
	border:1px solid #eee;
	transition: var(--transition);
	cursor: pointer;
	line-height: 1;
	gap:0 10px;
	min-width: 200px;
}
.button.button-radius-round {
	border-radius: 99px;
}
.button.button-color-primary {
	border-color:var(--primary-color);
	background-color: var(--primary-color);
	color: #fff;
}
.button.button-color-secondary {
	border-color:var(--secondary-color);
	background-color: var(--secondary-color);
	color: #fff;
}
.button.button-color-black {
	border-color:#111;
	background-color: #111;
	color: #fff;
}
.button.button-color-white {
	border-color:#fff;
	background-color: #fff;
	color: #000;
}
.button.button-line-primary {
	border-color: var(--primary-color);
	background-color: #fff;
	color: var(--primary-color);
}
.button.button-line-gray {
	border-color: #D8D8D8;
	background-color: #fff;
	color: #111;
}
.button.button-line-black {
	border-color: #111;
	background-color: #fff;
	color: #111;
}
.button.disabled {
	border-color: #F2F2F2;
	background-color: #F2F2F2;
	color: #C2C2C2;
	pointer-events: none;
	cursor: none;
}
.button.button-size-md {
	min-width: auto;
	height: calc(var(--button-height) * 0.9);
	padding:0 calc(var(--button-padding) * 0.9);
	font-size: calc(var(--button-font-size) * 0.95);
}
.button.button-size-sm {
	min-width: auto;
	height: calc(var(--button-height) * 0.8);
	padding:0 calc(var(--button-padding) * 0.5);
	font-size: calc(var(--button-font-size) * 0.9);
}
.button:hover {
	box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}
@media all and (max-width: 1023px) {
	.button {
		--button-height:var(--height);
	}
}
@media all and (max-width: 767px) {
	.button {
		--button-height:var(--height);
		--button-padding: 10px;
		min-width: auto;
	}
	.button-wrap {
		margin-top:var(--space-sm);
		gap:5px;
	}
}


/* ## badge ## */
.badge {
	--badge-height:var(--height);
	--badge-padding: 20px;
	--badge-font-size:1em;
}
.badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding:0 20px;
	height: var(--badge-height);
	border-radius: var(--border-radius);
	background-color: #eee;
	border:1px solid #eee;
}
.badge.badge-color-primary {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: #fff;
}
.badge.badge-color-secondary {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
	color: #fff;
}
.badge.badge-color-warning {
	background-color: #f16060;
	border-color: #f16060;
	color: #fff;
}
.badge.badge-color-black {
	background-color: #000;
	border-color: #000;
	color: #fff;
}
.badge.badge-color-gray {
	background-color: #D9D9D9;
	border-color: #D9D9D9;
	color: #fff;
}
.badge.badge-color-darkgray {
	background-color: #8B8B8D;
	border-color: #8B8B8D;
	color: #fff;
}
.badge.badge-color-light {
	background-color: #E9F1FC;
	border-color: #E9F1FC;
	color: #0067B9;
}
.badge.badge-line-primary {
	background-color: #fff;
	border-color: var(--primary-color);
	color: var(--primary-color);
}
.badge.badge-line-gray {
	background-color: #fff;
	border-color: #c9c9c9;
	color: #878787;
}
.badge.badge-line-white {
	background-color: transparent;
	border-color: rgba(255,255,255,0.4);
	color: #fff;
}
.badge.badge-size-md {
	height: calc(var(--badge-height) * 0.7);
	padding:0 calc(var(--badge-padding) * 0.7);
	font-size: calc(var(--badge-font-size) * 0.9);
}
.badge.badge-size-sm {
	height: calc(var(--badge-height) * 0.6);
	padding:0 calc(var(--badge-padding) * 0.5);
	font-size: calc(var(--badge-font-size) * 0.85);
}
@media all and (max-width: 1023px) {
	.badge {
		--badge-height:var(--height);
	}
}
@media all and (max-width: 767px) {
	.badge {
		--badge-height:var(--height);
	}
}


/* ## select ## */
.select-wrap {
	padding: 20px;
	border-radius: 10px;
	background: #E9F1FC;
	margin-bottom: var(--space-md);
}
.select {
	--select-height: var(--height);
	--select-space:20px;
}
.select {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 600px;
	margin: 0 auto;
}
.select-btn {
	display: inline-flex;
	align-items: center;
	width: 100%;
	height: var(--select-height);
	text-align: left;
	border-radius: 99px;
	background: #fff;
	border:1px solid #fff;
	padding:0 calc(var(--select-space) * 2) 0 var(--select-space);
	position: relative;
}
.select-btn::after {
	display: block;
	content:"\f107";
	font-family:"Font Awesome 7 Free";
	font-weight: 900;
	position: absolute;
	right:var(--select-space);
	top:50%;
	transform:translateY(-50%);
	transition: var(--transition);
}
.select-btn.active::after {
	transform:translateY(-50%) rotate(180deg);
}
.select-list {
	width: 100%;
	background: #fff;
	border:1px solid #c9c9c9;
	position: absolute;
	left:0;
	top:calc(var(--select-height) + 5px);
	border-radius: var(--border-radius);
	z-index: 5;
}
.select-option {
	display: block;
	width: 100%;
	text-align: left;
	padding:12px 20px;
	border-bottom:1px solid #c9c9c9;
	border-radius: 0;
}
.select-option:last-child {
	border-bottom: 0;
}
[data-select-list] {
	display: none;
}
[data-select-list].active {
	display: block;
}


/* ## modal ## */
.modal {
	--modal-border-radius: 30px;
	max-width: 800px;
	width: calc(100% - 40px);
	border:none;
	padding:0;
	margin: auto;
	overflow: visible;
	transform: translate(0, 20px);
	border-radius: var(--modal-border-radius);
}
.modal.modal-size-lg {
	max-width: 960px;
}
.modal.modal-size-sm {
	max-width: 520px;
}
.modal-wrap {
	position: relative;
	overflow: hidden;
	border-radius: var(--modal-border-radius);
}
.modal-box {
	max-height: calc(100vh - 120px);
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}
.modal-header {
	position: sticky;
	left: 0;
	top:0;
	z-index: 1;
	padding:40px 60px 15px 40px;
	display: flex;
	align-items: center;
	gap: 10px;
	background: #fff;
}
.modal-title {
	display: flex;
    align-items: center;
	gap: 10px;
	font-size: var(--font-size-20);
	color: var(--primary-color);
	font-weight: 700;
}
.modal-title .title-icon {
	width: 26px;
	height: 26px;
}
.modal-body {
	padding:30px 40px;
}
.modal-box:has(.modal-header) .modal-body {
	padding-top: 10px;
}
.modal-box:has(.modal-footer) .modal-body {
	padding-bottom: 10px;
}
.modal-footer {
	position: sticky;
	left: 0;
	bottom:0;
	z-index: 1;
	padding:20px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #fff;
}
.modal-footer .button-wrap {
	margin-top: 0;
	width: 100%;
}
.modal-close {
	position: absolute;
	left:50%;
	top:-60px;
	z-index: 2;
	transform: translateX(-50%);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #fff;
	color: #000;
	font-size: var(--font-size-20);
}
.modal-close::before {
	display: block;
	content:"\f00d";
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
}
.modal-divider {
	width: calc(100% + 80px);
	transform: translateX(-40px);
	height: 7px;
	background: #EFEFEF;
	margin: 25px 0;
}
.modal-subtitle {
	font-size: var(--font-size-20);
	font-weight: 500;
	margin-bottom: 18px;
}
@media all and (max-width: 767px) {
	.modal {
		--modal-border-radius: 20px;
	}
	.modal-header {
		padding:40px 45px 10px 20px;
	}
	.modal-title {
		font-size: var(--font-size-18);
	}
	.modal-title .title-icon {
		width: 20px;
		height: 20px;
	}
	.modal-body {
		padding:20px;
	}
	.modal-footer {
		padding:20px;
	}
	.modal-footer .button {
		flex: 1;
	}
	.modal-close {
		top: -50px;
		width: 36px;
		height: 36px;
		font-size: var(--font-size-15);
	}
	.modal-divider {
		width: calc(100% + 40px);
		transform: translateX(-20px);
	}
}
.modal.modal-sheet {
	margin: auto auto 0;
	overflow: hidden;
	transform: translate(0, 100%);
	border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
	transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
	will-change: transform;
	backface-visibility: hidden;
}
.modal-sheet.active {
	transform: translate(0, 0);
}
.modal-sheet .modal-wrap {
	border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
}
.modal-sheet .modal-box {
	max-height: 65vh;
}
.modal-sheet .modal-title {
	font-size: var(--font-size-16);
	font-weight: 600;
}
.modal-sheet .modal-title:not(:has(.title-icon)) {
	font-size: var(--font-size-20);
}
.modal-sheet .modal-title .title-icon {
	width: 20px;
	height: 20px;
}
.modal-sheet .modal-close {
	left: auto;
	right:45px;
	top: 40px;
	width: 20px;
	height: 20px;
	color: #999999;
	background: none;
	font-size: var(--font-size-18);
	transform: translateX(0);
}
@media all and (max-width: 767px) {
	.modal.modal-sheet {
		width: 100%;
	}
	.modal-sheet .modal-close {
		right:28px;
	}
}
.modal-sheet .sheet-handle {
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	width: 58px;
	height: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-sheet .sheet-handle .bar {
	position: absolute;
	width: 30px;
	height: 4px;
	background: #D9D9D9;
	border-radius: 99px;
	transition: var(--transition);
}
.modal-sheet .sheet-handle .bar-left { left: 2px; }
.modal-sheet .sheet-handle .bar-right { right: -2px; }
.modal-sheet.dragging .sheet-handle .bar { background: #C2C2C2; }
.modal-sheet.dir-up .sheet-handle .bar-left { transform: rotate(-12deg); }
.modal-sheet.dir-up .sheet-handle .bar-right { transform: rotate(12deg); }
.modal-sheet.dir-down .sheet-handle .bar-left { transform: rotate(12deg); }
.modal-sheet.dir-down .sheet-handle .bar-right { transform: rotate(-12deg); }



/* ## tooltip ## */
.tooltip {
	position: relative;
	display: inline-flex;
}
.tooltip-btn {
	font-size: var(--font-size-18);
	color: #555;
}
.tooltip-text {
	font-size: var(--font-size-13);
	padding:3px 10px;
	border-radius: var(--border-radius);
	background: #555;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	top:calc(-100% - 8px);
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition);
	z-index: 5;
}
.tooltip-text::after {
	display: block;
	content:"";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #555;
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	bottom:-5px;
}
.tooltip-btn:hover + .tooltip-text {
	opacity: 1;
	visibility: visible;
}


/* ## loading ## */
.loading {
	display: none;
	align-items: center;
	justify-content: center;
	pointer-events: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 500;
	width: 40px;
	height: 40px;
	border: 4px solid var(--primary-color);
	border-bottom-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
	animation: loading 1.2s linear infinite;
}
.loading.active {
	display: flex;
}
.loading.inner {
	position: absolute;
	width: 30px;
	height: 30px;
	border-width: 3px;
}
@keyframes loading {
	0% {transform: translate(-50%, -50%) rotate(0deg);}
	100% {transform: translate(-50%, -50%) rotate(360deg);}
}


/* ## count ## */
.count {
	display: inline-flex;
	align-items: center;
	border-radius: var(--border-radius);
}
.count-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex:0 0 32px;
	height: 32px;
	border:1px solid #eee;
	border-radius: 100%;
	color: #707070;
}
.count-value {
	display: block;
	flex:0 0 50px;
	text-align: center;
}


/* ## alert ## */
.alert {
	border:none;
	max-width: 400px;
	width: calc(100% - 40px);
	border-radius: 20px;
	padding:0;
}
.alert-box {
	padding: 30px;
}
.alert-text {
	padding:30px 10px;
	text-align: center;
}
.alert-btn-box {
	display: flex;
	align-items: center;
	gap: 10px;
}
.alert .button {
	flex:1 1 auto;
	min-width: auto;
}
@media all and (max-width: 767px) {
	.alert {
		border-radius: 10px;
	}
	.alert-box {
		padding: 20px;
	}
	.alert-text {
		padding:25px 10px;
	}
}



/* ## rating ## */
.rating {
	position: relative;
	color: #ddd;
	display: inline-flex;
	gap:2px;
}
.rating-star {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-18);
}
.rating-star::before {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: "Font Awesome 7 Free";
	content:"\f005";
	font-weight: 900;
}
.rating .range {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	padding:0;
	cursor: pointer;
}
.rating.active {
	width: 0;
	position: absolute;
	left: 0;
	top: 0;
	color: var(--primary-color);
	overflow: hidden;
	pointer-events: none;
	white-space: nowrap;
}
.rating.disabled {
	pointer-events: none;
	cursor: none;
}




/* ## agree ## */
.agree-box {
	width: 100%;
}
.agree-box pre {
	max-height: 200px;
	padding: 20px;
	background: #f5f5f5;
	white-space: pre-line;
	overflow-y: auto;
	margin:0;
	font-family: inherit;
	font-size: var(--font-size-15);
}
.agree-check {
	text-align: right;
	margin-top:var(--space-xs);
}
.agree-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;
	color: #999999;
}
.agree-header .button {
	min-width: auto;
	height: 30px;
	border: none;
	background: none;
	box-shadow: none;
	color: #999999;
	flex-shrink: 0;
}
.agree-header .button::after {
	content: "\f105";
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
}
.agree-body {
	background: #f9f9f9;
	color: #252525;
	padding:15px 20px;
	font-size: var(--font-size-14);
	max-height: 150px;
	overflow-y: auto;
	display: none;
	margin-top:10px;
}
.agree-body.active {
	display: block;
}
.agree-box:has(.agree-body) {
	margin-left: 20px;
}
.agree-box:has(.agree-body) .checkbox-text {
	font-size: var(--font-size-15);
	margin-right: 0;
}
@media all and (max-width: 767px) {
	.agree-header,
	.agree-header .button {
		height: 25px;
	}
	.agree-header .checkbox-text {
		font-size: var(--font-size-15);
	}
	.agree-body {
		margin-top:8px;
		padding:15px;
	}
	.agree-box:has(.agree-body) {
		margin-left: 0;
	}
}



/* ## paging ## */
.paging {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--space-lg);
}
.paging-pages {
	display: flex;
	align-items: center;
	gap: 8px;
}
.paging-pages :is(a, span) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	line-height: 1;
	background: #fff;
	border:1px solid #000;
	border-radius: 50%;
	transition: var(--transition);
}
.paging-pages span {
	font-weight: 700;
	background: #000;
	color: #fff;
}
.paging-pages :is(.paging-first, .paging-prev, .paging-next, .paging-last) {
	border-color: #999999;
}
.paging-pages :is(.paging-first, .paging-prev, .paging-next, .paging-last).disabled {
	background: #D9D9D9;
	border-color: #D9D9D9;
	opacity: 0.4;
	pointer-events: none;
	cursor: none;
}
.paging-first::before,
.paging-prev::before,
.paging-next::before,
.paging-last::before {
	display: block;
	font-size: var(--font-size-15);
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
	color: #999999;
}
.paging-first::before {
	content: "\f100";
}
.paging-prev::before {
	content: "\f104";
}
.paging-next::before {
	content: "\f105";
}
.paging-last::before {
	content: "\f101";
}
@media all and (max-width: 767px) {
	.paging {
		margin-top: 30px;
	}
	.paging-pages {
		gap: 6px;
	}
	.paging-pages :is(a, span) {
		width: 33px;
		height: 33px;
	}
}



/* ## search ## */
.search-wrap {
	padding: 30px;
	text-align: center;
	background: #fafafa;
	border: 1px solid #ececec;
}
.search-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.search-field {
	flex: 0 0 140px;
}
.search-field select {
	width: 100%;
}
.search-form {
	position: relative;
	flex: 0 0 auto;
}
.search-btn {
	position: absolute;
	right: 0;
	width: var(--height);
	height: 100%;
}
.search-btn::before {
	display: block;
	content:"\f002";
	font-family: "Font Awesome 7 Free";
	font-weight: 900;
}
@media all and (max-width: 767px) {
	.search-wrap {
		padding: 0;
		background: transparent;
		border: none;
	}
	.search-field {
		flex-grow: 1;
	}
	.search-form {
		flex-grow: 1;
	}
}
.search-box.search-type02 {
	display: block;
	width: 100%;
}
.search-type02 .search-form {
	border: 2px solid var(--primary-color);
	border-radius: 99px;
	overflow: hidden;
	position: relative;
}
.search-type02 .search-form .form-input {
	flex: 1;
	height: 60px;
	padding: 0 20px;
	border: none;
}
.search-type02 .search-btn {
	top: 0;
	width: 80px;
}
.search-type02 .search-btn::before {
	display: none;
}
.search-type02 .search-btn img {
	width: 50px;
}
@media all and (max-width: 767px) {
	.search-type02 .search-form {
		border-width: 1px;
	}
	.search-type02 .search-form .form-input {
		height: 40px;
	}
	.search-type02 .search-btn {
		width: 60px;
	}
	.search-type02 .search-btn img {
		width: 40px;
	}
}




/* ## form ## */
.form-row {
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
}
.form-title {
	flex: 0 0 140px;
}
.form-item {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px 5px;
}
.form-group {
	display: flex;
	align-items: center;
	width: 100%;
	gap:10px;
	margin-bottom:5px;
}
.form-group:last-child {
	margin-bottom:0;
}
.form-group.form-size-md {
	width: 80%;
}
.form-group.form-size-sm {
	width: 50%;
}
.form-group.form-size-xs {
	width: 30%;
}
.form-input {
	width: 100%;
}
.form-group.form-group-button .button {
	flex:0 0 auto;
	min-width: auto;
}
.form-required::after {
	display: inline-flex;
	align-items: center;
	content:"*";
	color: #f24147;
	margin-left:5px;
}
.form-certify {
	position: relative;
	width: 100%;
}
.form-certify .form-input,
.form-certify .form-input:focus {
	border-color: var(--primary-color) !important;
}
.form-certify .form-input::placeholder {
	color: var(--primary-color);
}
.form-certify .time {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	color: var(--primary-color);
}
.form-input:required:not([type="checkbox"], [type="radio"], [type="file"], [type="color"]):focus {
	border-color: #000;
}
.form-input:required:not([type="checkbox"], [type="radio"], [type="file"], [type="color"], select):valid,
.form-certify .form-input:valid {
	background: #E9F1FC;
	border-color: #E9F1FC !important;
}
.form-input:disabled {
	background: #E9F1FC;
	border-color: #E9F1FC;
}
.form-input-wrap {
	position: relative;
	width: 100%;
}
.form-input-wrap .input-clear {
	position: absolute;
	top: 50%;
	right: 14px;
	transform: translateY(-50%);
	color: #C7C7C7;
}
.form-input-wrap .button {
	flex-shrink: 0;
}
.form-group-textarea {
	position: relative;
}
.form-group-textarea .form-input {
	padding-bottom: 40px;
	resize: none;
}
.form-group-textarea .textarea-count {
	position: absolute;
	bottom: 22px;
	right: 25px;
	color: #D9D9D9;
}
.form-group-textarea .textarea-count .count-current {
	color: #000;
}
@media all and (max-width: 1023px) {
	.form-group:is(.form-size-md,.form-size-sm,.form-size-xs) {
		width: 100%;
	}
	.form-info {
		font-size: var(--font-size-14);
	}
}
@media all and (max-width: 767px) {
	.form-row {
		display: block;
	}
	.form-title {
		display: block;
		margin-bottom:5px;
	}
	.form-group {
		gap:5px;
	}
	.form-certify .time {
		right: 15px;
	}
}



/* ## share ## */
.share-box {
	position: relative;
	display: inline-flex;
}
.share-open {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #E9F1FC;
	transition: var(--transition);
}
.share-open.active {
	background: var(--primary-color);
}
.share-open.active .icon {
	filter: brightness(0) saturate(100%) invert(100%);
}
.share-item {
	position: absolute;
	top: 40px;
	left: 50%;
	z-index: 5;
	transform: translateX(-50%);
	transition: var(--transition);
	visibility: hidden;
	opacity: 0;
}
.share-item.active {
	visibility: visible;
	opacity: 1;
	top: 60px;
}
.share-lnk {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	text-align: center;
	position: relative;
	color: #000;
	line-height: 1;
	font-size: var(--font-size-20);
	border-radius: 50%;
	background: #E9F1FC;
	margin-bottom: 5px;
}
.share-lnk:hover {
	color: var(--primary-color);
}
.share-lnk:where(.kakao,.band,.blog)::after {
	content:"";
	display: block;
	width: 100%;
}
.share-lnk.kakao::after {
	height: 20px;
	background:url("../img/board/icon-kakao.svg") no-repeat center top;
}
.share-lnk.kakao:hover::after {
	filter: brightness(0) saturate(100%) invert(19%) sepia(99%) saturate(5276%) hue-rotate(221deg) brightness(96%) contrast(111%);
}
@media all and (max-width: 767px) {
	.share-open {
		width: 42px;
		height: 42px;
	}
	.share-open .icon {
		width: 18px;
		height: 18px;
	}
	.share-lnk {
		width: 42px;
		height: 42px;
		font-size: var(--font-size-17);
	}
	.share-item.active {
		top: 48px;
	}
}



/* ## datepicker ## */
.datepicker {
	position: relative;
	max-width: 220px;
}
.datepicker::after {
	content: "\f133";
	font-family: "Font Awesome 7 Free";
	font-weight: 400;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: #979797;
}
.datepicker-input {
	width: 100%;
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker {
	width: 17em;
	padding: 0.2em 0.4em 0;
	display: none;
	background: #fff;
	box-shadow: 2px 10px 30px rgba(0,0,0,0.12);
}
.ui-datepicker a {
	color: #666;
}
.ui-datepicker-header {
	position: relative;
	margin: 0.5em 0;
}
.ui-datepicker .ui-datepicker-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 2%;
	min-height: 50px;
	margin: 0 2.3em;
	font-weight: bold;
}
.ui-datepicker .ui-datepicker-title select {
	height: 30px;
	line-height: 30px;
}
.ui-datepicker :is(select.ui-datepicker-month, select.ui-datepicker-year) {
	width: 45%;
}
.ui-datepicker :is(.ui-datepicker-prev, .ui-datepicker-next) {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev::after {
	content: "\f104";
	font-family: "Font Awesome 7 Free";
	font-weight: 400;
}
.ui-datepicker .ui-datepicker-next::after {
	content: "\f105";
	font-family: "Font Awesome 7 Free";
	font-weight: 400;
}
.ui-datepicker table {
	width: 100%;
	margin: 0 0 0.5em;
	font-size: var(--font-size-13);
}
.ui-datepicker th {
	width: 14.28%;
	padding: 0.7em 0.1em;
	font-weight: 600;
}
.ui-datepicker td {
	padding: 0.05em;
}
.ui-datepicker td :is(span, a) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	margin: 0 auto;
	border-radius: 50%;
	text-align: center;
}
.ui-datepicker .ui-datepicker-buttonpane {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #dddddd;
	margin: 0.2em 0 0.5em 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	padding: 0.8em;
	background: #fff;
	font-size: var(--font-size-14);
	color: var(--primary-color);
	font-weight: 300;
}
.ui-datepicker-other-month a:not(.ui-state-active) {
	opacity: 0.6;
}
.ui-corner-all {
	border-radius: 15px;
}
.ui-state-disabled {
	cursor: default !important;
	pointer-events: none;
	opacity: 0.3;
}
.ui-state-hover {
	background: #f5f5f5;
}
.ui-datepicker .ui-state-highlight {
	border: 1px solid var(--primary-color);
	background: #fff;
	color: var(--primary-color);
}
.ui-datepicker .ui-state-active {
	background: var(--primary-color);
	color: #fff !important;
}
.ui-datepicker .ui-state-error {
	border: 1px solid #f1a899;
	background: #fddfdf;
	color: #5f3f3f !important;
}
.ui-datepicker :is(th:first-child, td:first-child a) {
	color: #EE4E4E;
}