@charset "utf-8";

/*
	** LAYOUT CSS
*/

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}
.container.container-wide {
	max-width: 1640px;
}
@media all and (max-width: 767px) {
	.container {
		padding: 0 15px;
	}
	.container.container-wide {
		padding: 0;
	}
}


/* ## header ## */
.header {
	--header-height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 30;
	background: #fff;
	border-bottom: 1px solid #eee;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: var(--header-height);
}
.gnb-list {
	display: flex;
	align-items: center;
	gap: 10px;
}
.gnb-item {
	position: relative;
	text-align: center;
}
.gnb-lnk {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	font-size: var(--font-size-20);
	font-weight: 600;
	height: var(--header-height);
	transition: var(--transition);
}
.gnb-item:hover .gnb-lnk,
.gnb-item.active .gnb-lnk {
	color: var(--primary-color);
}
.gnb-menu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: 9;
	left: 50%;
	top: calc(var(--header-height) - 15px);
	transform: translate(-50%, -15px);
	min-width: 180px;
	padding: 15px 0;
	border-radius: 20px;
	background:#fff;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}
.gnb-item:hover .gnb-menu,
.gnb-item.active .gnb-menu {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0);
	transition: var(--transition);
}
.gnb-menu a {
	display: block;
	padding: 6px;
	font-size: var(--font-size-17);
}
.header-util {
	display: flex;
	align-items: center;
	gap: 0 10px;
}
.mob-util .lnk,
.header-util .lnk {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #E9F1FC;
	color: var(--primary-color);
	font-weight: 700;
}
.mob-util .lnk.member,
.header-util .lnk.member {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	min-width: 100px;
	padding: 0 20px;
	border-radius: 99px;
	white-space: nowrap;
}
.mob-util .lnk.member img,
.header-util .lnk.member img {
	width: 20px;
}
.mob-logo,
.mob-util,
.gnb-open {
	display: none;
}
@media all and (max-width: 1439px) {
	.gnb-lnk {
		padding: 0 25px;
		font-size: var(--font-size-18);
	}
}
@media all and (max-width: 1023px) {
	:has(.sub-wrapper) .header {
		position: static;
	}
    .header.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
	.gnb-open,
	.gnb-close {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background: #E9F1FC;
	}
	.gnb-close {
		position: absolute;
		right: 20px;
		top: 20px;
		background: #fff;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	}
	.gnb-open img,
	.gnb-close img {
		width: 26px;
	}
	.mob-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 150px;
	}
	.mob-logo > img {
		width: 130px;
	}
	.gnb {
		opacity: 0;
		visibility: hidden;
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 999;
		width: 100%;
		height: 100vh;
		background: #E9EBFC;
		transition: 0.3s ease-in-out;
		overflow: hidden auto;
	}
	.gnb.active {
		right: 0;
		opacity: 1;
		visibility: visible;
	}
	.gnb-list {
		display: block;
	}
	.gnb-lnk {
		display: block;
		height: auto;
		padding: 25px 0;
		font-size: var(--font-size-20);
		color: #000 !important;
	}
	.gnb.active .gnb-menu {
		opacity: 1;
		visibility: visible;
		position: initial;
		transform: none;
		min-width: auto;
		padding: 0;
		text-align: left;
		box-shadow: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		background: transparent;
		gap: 5px 20px;
	}
	.gnb-menu a {
		display: block;
		font-size: var(--font-size-16);
		color: #666;
		font-weight: 300;
	}
	.mob-util {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0 10px;
		margin-top: 60px;
	}
	.mob-util .lnk {
		background: #fff;
	}
	.header-util {
		margin-left: auto;
	}
	.header-util .lnk.member,
	.header-util .lnk.chatbot {
		display: none;
	}
}
@media all and (max-width: 767px) {
	.header {
		--header-height: 60px;
	}
	.header-logo {
		flex: 0 0 100px;
	}
	.gnb-open,
	.gnb-close,
	.header-util .lnk {
		width: 36px;
		height: 36px;
	}
}

.header-search {
	position: absolute;
	top: var(--header-height);
	left: 0;
	z-index: 99;
	width: 100%;
	padding: 26px 0;
	background: #E9F1FC;
	box-shadow: 5px 5px 6px rgba(0,0,0,0.15);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}
.header-search.active {
	opacity: 1;
	visibility: visible;
}
.header-search .search-box {
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 1000px;
	margin: 0 auto;
	border: 2px solid var(--primary-color);
	border-radius: 99px;
	overflow: hidden;
	position: relative;
}
.header-search .search-box .form-input {
	flex: 1;
	height: 60px;
	padding: 0 20px;
	border: none;
}
.header-search .search-box .search-btn {
	width: var(--header-height);
}
.header-search .search-box .search-btn::before {
	display: none;
}
.header-search .search-box .search-btn img {
	width: 100%;
	height: 100%;
}
@media all and (max-width: 767px) {
	.header-search {
		padding: 15px 0;
	}
	.header-search .search-box {
		border-width: 1px;
		border: none;
	}
	.header-search .search-box .form-input {
		height: 45px;
		padding: 0 20px;
	}
}



/* ## footer ## */
.footer {
	padding: 40px 0 60px;
	background: #F9F9F9;
	letter-spacing: 0;
}
:has(.sub-wrapper) .footer {
	border-top: 1px solid #DFDFDF;
}
.footer-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-row {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer-addr {
	font-style: normal;
}
.footer-addr .info {
	display: flex;
	flex-wrap: wrap;
	gap: 0 15px;
	line-height: 1.4;
	font-size: var(--font-size-14);
	color: #999999;
}
.footer-addr .info span {
	position: relative;
}
.footer-addr .info span:not(:last-child)::after {
	content: "";
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 3px;
	height: 3px;
	background: #999999;
	border-radius: 50%;
}
.footer-addr .addr-btn {
	display: none;
}
.footer-copy {
	font-size: var(--font-size-12);
	color: #D9D9D9;
}
.footer-lnk {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 0 25px;
}
.footer-lnk .lnk {
	position: relative;
	color: #999999;
}
.footer-lnk .lnk:not(:last-child)::after {
	content: "";
	position: absolute;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
	width: 3px;
	height: 3px;
	background: #999999;
	border-radius: 50%;
}
.footer-contact {
	text-align: right;
}
.footer-contact .call {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	font-size: var(--font-size-20);
	font-weight: bold;
	color: #000;
}
.footer-contact .info {
	line-height: 1.4;
	font-size: var(--font-size-14);
	color: #999999;
}
.footer-sns {
	display: flex;
	justify-content: flex-end;
	gap: 0 8px;
}
.footer-sns .lnk {
	display: inline-block;
}
@media all and (max-width: 1023px) {
	.footer {
		padding: 40px 0;
	}
	.footer-lnk {
		font-size: var(--font-size-15);
	}
}
@media all and (max-width: 767px) {
	.footer {
		padding: 30px 0 150px;
	}
	.footer-box {
		position: relative;
		flex-direction: column;
		gap: 18px;
		text-align: center;
	}
	.footer-row {
		width: 100%;
		gap: 15px;
	}
	.footer-addr .addr-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3px;
		color: #555;
		cursor: pointer;
	}
	.footer-addr .addr-btn img {
		width: 20px;
		transition: var(--transition);
	}
	.footer-addr .addr-btn.active img {
		transform: rotate(180deg);
	}
	.footer-addr {
		display: none;
		padding-top: 10px;
	}
	.footer-addr .info {
		justify-content: center;
	}
	.footer-copy {
		position: absolute;
		bottom: -30px;
		width: 100%;
	}
	.footer-lnk {
		justify-content: center;
	}
	.footer-contact {
		text-align: center;
	}
	.footer-sns {
		justify-content: center;
	}
}


/* ## quick-menu ## */
.quick-menu {
	position: fixed;
	right:50px;
	top:50%;
	z-index: 10;
	transform: translateY(-50%);
	transition: var(--transition);
}
.quick-menu .quick-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80px;
	padding: 12px 0;
	background: #fff;
	border: 2px solid var(--primary-color);
	border-radius: 99px;
}
.quick-menu .quick-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: 100%;
	padding: 18px 0;
	text-align: center;
}
.quick-menu .quick-label {
	font-size: var(--font-size-14);
	white-space: nowrap;
}
.quick-menu .top-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}
.quick-menu .top-btn img {
	width: 32px;
}
.quick-menu .top-btn.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
:has(.main) .quick-menu .quick-btn.main { display: block; }
:has(.main) .quick-menu .quick-btn.sub  { display: none; }
:has(.sub-wrapper) .quick-menu .quick-btn.main { display: none; }
:has(.sub-wrapper) .quick-menu .quick-btn.sub  { display: block; }
@media all and (max-width: 1439px) {
	.quick-menu {
		right: 20px;
	}
}
@media all and (max-width: 1023px) {
	.quick-menu {
		top:auto;
		bottom: 40px;
		right:10px;
		transform: translate(0, 0);
	}
	.quick-menu .quick-list {
		width: 72px;
	}
	.quick-menu .quick-btn {
		padding: 10px 0;
	}
	.quick-menu .top-btn {
		margin-top: 8px;
		width: 72px;
		height: 72px;
	}
	:has(.rent-view) .quick-menu {
		display: none;
	}
}
@media all and (max-width: 767px) {
	.quick-menu {
		top:auto;
		right: auto;
		left: 50%;
		bottom: 12px;
		transform: translate(-50%, 0);
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-end;
		gap: 8px;
		width: calc(100% - 30px);
	}
	.quick-menu .quick-list {
		flex-direction: row;
		width: 100%;
		padding: 0 12px;
		border-width: 1px;
	}
	.quick-menu .quick-btn {
		gap: 3px;
		padding: 8px 0;
	}
	.quick-menu .quick-btn img {
		width: 28px;
	}
	.quick-menu .top-btn {
		margin-top: 0;
		width: 40px;
		height: 40px;
		border-width: 1px;
	}
	.quick-menu .top-btn img {
		width: 20px;
	}
}


/* ## black theme ## */
body.black .header {
	background: rgba(0,0,0,0.2);
	border-bottom: none;
}
body.black .header-logo img {
	filter: brightness(0) invert(1);
} 
body.black .gnb-lnk {
	color: #fff;
}



/* sub */
.sub-wrapper {
	--sub-space: 80px;
	padding-top: var(--sub-space);
}
.sub-wrapper:has(.rent-view, .rent-complete) {
	padding-bottom: 80px;
}
.sub-wrapper.sub-bg-image { background: url("../img/layout/sub-bg-img.jpg") no-repeat top / cover; }
.sub-wrapper.sub-bg-light { background-color: #F6F6F7; }
.sub-wrapper.sub-bg-gray { background-color: #EFEFEF; }
.sub-wrapper.sub-bg-gray,
.sub-wrapper:has(.mypage) { padding-top: calc(var(--sub-space) + 60px); }
.sub-box {
	padding: 38px 110px 0;
	border-radius: 40px 40px 0 0;
	background: #fff;
}
.sub-box:not(:has(.sub-grid-box)) {
	padding-top: 60px;
	padding-bottom: 80px;
}
.sub-title-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #D9D9D9;
}
.sub-title-box .title {
	font-size: 2.5rem;
	font-weight: 800;
	flex-shrink: 0;
}
.sub-title-box .search-box {
	max-width: 720px;
}
.sub-title-box.sub-title-type02 {
	padding-bottom: 20px;
	border-bottom: none;
}
.sub-title-box.sub-title-type02 .title {
	font-size: var(--font-size-20);
	color: var(--primary-color);
	font-weight: 700;
}
.sub-grid-box {
	--aside-width: 300px;
	display: flex;
}
.sub-aside {
	width: var(--aside-width);
	padding: 30px 20px 30px 0;
	border-right: 1px solid #D9D9D9;
}
.sub-grid-box > *:not(.sub-aside) {
	width: calc(100% - var(--aside-width));
}
.sub-nav {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.sub-nav-btn {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 52px;
	padding: 0 28px;
	border-radius: 99px;
	border: 1px solid #D9D9D9;
	background: #fff;
}
.sub-nav-btn::after {
	content: "\f105";
	font-family: "Font Awesome 7 Free";
	font-size: var(--font-size-14);
	font-weight: 900;
	margin-left: auto;
}
.sub-nav-btn .icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.sub-nav-btn.active {
	background: var(--primary-color);
	color: #fff;
}
.sub-nav-btn.active .icon {
	filter: brightness(0) invert(1);
}
@media all and (max-width: 1439px) {
	.sub-box {
		padding: 38px 60px 0;
	}
	.sub-title-box .search-box {
		max-width: 600px;
	}
	.sub-grid-box {
		--aside-width: 260px;
	}
}
@media all and (max-width: 1023px) {
	.sub-wrapper {
		--sub-space: 20px;
	}
	.sub-box {
		padding: 38px 40px 0;
		border-radius: 30px 30px 0 0;
	}
	.sub-title-box .title {
		font-size: 2.25rem;
	}
	.sub-title-box .search-box {
		max-width: 450px;
	}
	.sub-grid-box {
		--aside-width: 240px;
	}
}
@media all and (max-width: 767px) {
	.sub-wrapper:is(.sub-bg-image, .sub-bg-gray) {
		padding-top: 0 !important;
	}
	.sub-wrapper:has(.rent-view) {
		padding-bottom: 0;
	}
	.sub-wrapper:has(.rent-complete) {
		padding-bottom: 40px;
	}
	.sub-box {
		padding: 10px 0 0;
		border-radius: 0;
	}
	.sub-box:not(:has(.sub-grid-box)) {
		padding-top: 0;
		padding-bottom: 40px;
	}
	.sub-title-box {
		padding: 0 !important;
		border: none;
	}
	.sub-title-box .title {
		display: none;
	}
	.sub-title-box .search-box {
		max-width: 100%;
		padding: 0 15px 8px;
	}
	.sub-grid-box {
		--aside-width: 100%;
		display: block;
	}
	.sub-aside {
		padding: 0 15px 10px 15px;
		border-right: none;
		border-bottom: 1px solid #D9D9D9;
	}
	.sub-grid-box > *:not(.sub-aside) {
		width: 100%;
	}
	.sub-nav {
		overflow: auto hidden;
		flex-direction: row;
		gap: 6px;
	}
	.sub-nav-btn {
		flex: 1 0 auto;
		width: auto;
		height: 40px;
		padding: 0 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: var(--font-size-15);
	}
	.sub-nav-btn::after {
		display: none;
	}
	.sub-nav-btn .icon {
		width: 18px;
		height: 18px;
		margin-right: 5px;
	}
	.sub-aside .promotion-slide {
		display: none;
	}
}


/* ## pop-up ## */
.modal.modal-popup {
	--modal-border-radius: 20px;
	max-width: 580px;
	transform: none;
	overflow: hidden;
}
.modal-popup .modal-body {
	width: 100%;
	height: 100%;
	padding: 0;
}
.modal-popup .img-box {
	display: block;
	width: 100%;
	aspect-ratio: 7 / 5;
}
.modal-popup .img-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.modal-popup .pop-up-footer {
	width: 100%;
	display: flex;
	align-items: center;
	background: #fff;
}
.modal-popup .pop-up-btn {
	flex: 1;
	height: 64px;
	font-weight: 600;
}
.modal-popup .pop-up-btn:not(:last-child) {
	border-right: 1px solid #D9D9D9;
}
.modal-popup .slide-control {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	line-height: 32px;
	padding: 0 15px 0 10px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	border-radius: 99px;
	background: rgba(0,0,0,0.3);
}
.modal-popup .slide-control:has(.swiper-pagination-lock) {
	display: none;
}
.modal-popup :is(.swiper-button-next, .swiper-button-prev) {
	flex-shrink: 0;
	position: unset;
	margin-top: 0;
	height: 32px;
}
.modal-popup .swiper-button-next::after,
.modal-popup .swiper-button-prev::after {
	background: #fff;
	width: 100%;
	height: 100%;
}
.modal-popup .swiper-pagination {
	position: unset;
	width: 30px;
	color: #fff;
	text-align: right;
	font-size: var(--font-size-14);
}
.modal-popup .swiper-pagination span {
	font-weight: 500;
}
@keyframes fadeUp {
	0% { opacity: 0; transform: translateY(100%); }
	100% { opacity: 1; transform: translateY(0); }
}
@media all and (max-width:767px) {
	.modal-popup {
		width: 100%;
		left: 0;
		top: auto;
		bottom: 0;
		transform: none;
		border-radius: 20px 20px 0 0;
		animation: fadeUp 0.5s ease;
	}
	.modal-popup .pop-up-btn {
		height: 48px;
	}
}