@charset "utf-8";

/*
	** LAYOUT CSS
*/

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}
@media all and (max-width: 767px) {
	.container {
		padding: 0 15px;
	}
}


/* ## header ## */
.header {
	--header-height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 30;
	background: rgba(255,255,255,0.7);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-bottom: 1px solid #eee;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: var(--header-height);
}
.gnb-list {
	display: flex;
	align-items: center;
	gap: 10px;
}
.gnb-item {
	position: relative;
	text-align: center;
}
.gnb-lnk {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	font-size: var(--font-size-20);
	font-weight: 600;
	height: var(--header-height);
	transition: var(--transition);
}
.gnb-item:hover .gnb-lnk,
.gnb-item.active .gnb-lnk {
	color: var(--primary-color);
}
.gnb-menu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: 9;
	left: 50%;
	top: calc(var(--header-height) - 15px);
	transform: translate(-50%, -15px);
	min-width: 180px;
	padding: 15px 0;
	border-radius: 20px;
	background:#fff;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}
.gnb-item:hover .gnb-menu,
.gnb-item.active .gnb-menu {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0);
	transition: var(--transition);
}
.gnb-menu a {
	display: block;
	padding: 6px;
	font-size: var(--font-size-17);
}
.header-util {
	display: flex;
	align-items: center;
	gap: 0 10px;
}
.mob-util .lnk,
.header-util .lnk {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #E9F1FC;
	color: var(--primary-color);
	font-weight: 700;
}
.mob-util .lnk.member,
.header-util .lnk.member {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	min-width: 100px;
	padding: 0 20px;
	border-radius: 99px;
	white-space: nowrap;
}
.mob-util .lnk.member img,
.header-util .lnk.member img {
	width: 20px;
}
.mob-logo,
.mob-util,
.gnb-open {
	display: none;
}
@media all and (max-width: 1439px) {
	.gnb-lnk {
		padding: 0 25px;
		font-size: var(--font-size-18);
	}
}
@media all and (max-width: 1023px) {
	.gnb-open,
	.gnb-close {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background: #E9F1FC;
	}
	.gnb-close {
		position: absolute;
		right: 20px;
		top: 20px;
		background: #fff;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	}
	.gnb-open img,
	.gnb-close img {
		width: 26px;
	}
	.mob-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 150px;
	}
	.mob-logo > img {
		width: 130px;
	}
	.gnb {
		opacity: 0;
		visibility: hidden;
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 999;
		width: 100%;
		height: 100vh;
		background: #E9EBFC;
		transition: 0.3s ease-in-out;
		overflow: hidden auto;
	}
	.gnb.active {
		right: 0;
		opacity: 1;
		visibility: visible;
	}
	.gnb-list {
		display: block;
	}
	.gnb-lnk {
		display: block;
		height: auto;
		padding: 25px 0;
		font-size: var(--font-size-20);
		color: #000 !important;
	}
	.gnb.active .gnb-menu {
		opacity: 1;
		visibility: visible;
		position: initial;
		transform: none;
		min-width: auto;
		padding: 0;
		text-align: left;
		box-shadow: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		background: transparent;
		gap: 5px 20px;
	}
	.gnb-menu a {
		display: block;
		font-size: var(--font-size-16);
		color: #666;
		font-weight: 300;
	}
	.mob-util {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0 10px;
		margin-top: 60px;
	}
	.mob-util .lnk {
		background: #fff;
	}
	.header-util {
		margin-left: auto;
	}
	.header-util .lnk.member,
	.header-util .lnk.chatbot {
		display: none;
	}
}
@media all and (max-width: 767px) {
	.header {
		--header-height: 60px;
	}
	.header-logo {
		flex: 0 0 100px;
	}
	.gnb-open,
	.gnb-close,
	.header-util .lnk {
		width: 36px;
		height: 36px;
	}
}

.header-search {
	position: absolute;
	top: var(--header-height);
	left: 0;
	z-index: 99;
	width: 100%;
	padding: 26px 0;
	background: #E9F1FC;
	box-shadow: 5px 5px 6px rgba(0,0,0,0.15);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}
.header-search.active {
	opacity: 1;
	visibility: visible;
}
.header-search .search-box {
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 1000px;
	margin: 0 auto;
	border: 2px solid var(--primary-color);
	border-radius: 99px;
	overflow: hidden;
	position: relative;
}
.header-search .search-box .form-input {
	flex: 1;
	height: 60px;
	padding: 0 20px;
	border: none;
}
.header-search .search-box .search-btn {
	width: var(--header-height);
}
.header-search .search-box .search-btn::before {
	display: none;
}
.header-search .search-box .search-btn img {
	width: 100%;
	height: 100%;
}
@media all and (max-width: 767px) {
	.header-search {
		padding: 15px 0;
	}
	.header-search .search-box {
		border-width: 1px;
		border: none;
	}
	.header-search .search-box .form-input {
		height: 45px;
		padding: 0 20px;
	}
}



/* ## footer ## */
.footer {
	padding: 40px 0 60px;
	background: #F9F9F9;
	letter-spacing: 0;
}
.footer-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-row {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer-addr {
	font-style: normal;
}
.footer-addr .info {
	display: flex;
	flex-wrap: wrap;
	gap: 0 15px;
	line-height: 1.4;
	font-size: var(--font-size-14);
	color: #999999;
}
.footer-addr .info span {
	position: relative;
}
.footer-addr .info span:not(:last-child)::after {
	content: "";
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 3px;
	height: 3px;
	background: #999999;
	border-radius: 50%;
}
.footer-addr .addr-btn {
	display: none;
}
.footer-copy {
	font-size: var(--font-size-12);
	color: #D9D9D9;
}
.footer-lnk {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 0 25px;
}
.footer-lnk .lnk {
	position: relative;
	color: #999999;
}
.footer-lnk .lnk:not(:last-child)::after {
	content: "";
	position: absolute;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
	width: 3px;
	height: 3px;
	background: #999999;
	border-radius: 50%;
}
.footer-contact {
	text-align: right;
}
.footer-contact .call {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	font-size: var(--font-size-20);
	font-weight: bold;
	color: #000;
}
.footer-contact .info {
	line-height: 1.4;
	font-size: var(--font-size-14);
	color: #999999;
}
.footer-sns {
	display: flex;
	justify-content: flex-end;
	gap: 0 8px;
}
.footer-sns .lnk {
	display: inline-block;
}
@media all and (max-width: 1023px) {
	.footer {
		padding: 40px 0;
	}
	.footer-lnk {
		font-size: var(--font-size-15);
	}
}
@media all and (max-width: 767px) {
	.footer {
		padding: 30px 0 150px;
	}
	.footer-box {
		position: relative;
		flex-direction: column;
		gap: 18px;
		text-align: center;
	}
	.footer-row {
		width: 100%;
		gap: 15px;
	}
	.footer-addr .addr-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3px;
		color: #555;
		font-size: var(--font-size-14);
		cursor: pointer;
	}
	.footer-addr .addr-btn img {
		width: 20px;
		transition: var(--transition);
	}
	.footer-addr .addr-btn.active img {
		transform: rotate(180deg);
	}
	.footer-addr {
		display: none;
		padding-top: 10px;
	}
	.footer-addr .info {
		justify-content: center;
	}
	.footer-copy {
		position: absolute;
		bottom: -40px;
		width: 100%;
	}
	.footer-lnk {
		justify-content: center;
		font-size: var(--font-size-14);
	}
	.footer-contact {
		text-align: center;
	}
	.footer-sns {
		justify-content: center;
	}
}


/* ## quick-menu ## */
.quick-menu {
	position: fixed;
	right:50px;
	top:50%;
	z-index: 10;
	transform: translateY(-50%);
	transition: var(--transition);
}
.quick-menu .quick-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80px;
	padding: 12px 0;
	background: #fff;
	border: 2px solid var(--primary-color);
	border-radius: 99px;
}
.quick-menu .quick-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: 100%;
	padding: 18px 0;
	text-align: center;
}
.quick-menu .quick-label {
	font-size: var(--font-size-14);
	white-space: nowrap;
}
.quick-menu .top-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}
.quick-menu .top-btn img {
	width: 32px;
}
@media all and (max-width: 1439px) {
	.quick-menu {
		right: 20px;
	}
}
@media all and (max-width: 1023px) {
	.quick-menu {
		top:auto;
		bottom: 40px;
		right:10px;
		transform: translate(0, 0);
	}
	.quick-menu .quick-list {
		width: 72px;
	}
	.quick-menu .quick-btn {
		padding: 10px 0;
	}
	.quick-menu .quick-label {
		font-size: var(--font-size-13);
	}
	.quick-menu .top-btn {
		margin-top: 8px;
		width: 72px;
		height: 72px;
	}
}
@media all and (max-width: 767px) {
	.quick-menu {
		top:auto;
		right: auto;
		left: 50%;
		bottom: 12px;
		transform: translate(-50%, 0);
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-end;
		gap: 8px;
		width: 90%;
	}
	.quick-menu .quick-list {
		flex-direction: row;
		width: 100%;
		padding: 0 12px;
		border-width: 1px;
	}
	.quick-menu .quick-btn {
		gap: 3px;
		padding: 8px 0;
	}
	.quick-menu .quick-btn img {
		width: 28px;
	}
	.quick-menu .quick-label {
		font-size: var(--font-size-12);
	}
	.quick-menu .top-btn {
		margin-top: 0;
		width: 40px;
		height: 40px;
		border-width: 1px;
	}
	.quick-menu .top-btn img {
		width: 20px;
	}
}


.modal.modal-consult {
	border: 2px solid var(--primary-color);
}
.modal-consult-form .form-row {
	display: block;
	padding: 0;
	margin-bottom: 20px;
	border-bottom: none;
}
.modal-consult-form .form-title  {
	display: block;
	margin-bottom: 10px;
}
.modal-consult-form :has(.agree-box) .form-title  {
	padding-bottom: 5px;
	border-bottom: 1px solid #DFDFDF;
}
.modal-consult-form .form-input  {
	border: none;
	background: #E9F1FC;
	border-radius: 99px;
	padding: 0 20px;
}
.modal-consult-form .agree-box  {
	margin: 0;
}
@media all and (max-width: 767px) {
	.modal-consult-form .form-title  {
		margin-bottom: 5px;
	}
}

.sub-wrapper {
	min-height: 600px;
}


/* ## black theme ## */
body.black .header {
	background: rgba(0,0,0,0.2);
	border-bottom: none;
}
body.black .header-logo img {
	filter: brightness(0) invert(1);
} 
body.black .gnb-lnk {
	color: #fff;
}